@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: aliceblue;
}
nav figure {
    display: flex;
    align-items: center;
}
nav figcaption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 1.4rem;
}
figcaption span {
    color: crimson;
    font-weight: 700;
    text-align: center;
}
nav .fa-bars {
    font-size: 28px;
    text-align: center;
    width: fit-content;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    color: grey;
}
.home,
.registerPage {
    display: flex;
    min-height: 100vh;
    background: #f7e9f5;
}
.home-content,
.left-content {
    flex: 1;
    padding: 80px;
}
.title {
    font-size: 5rem;
    line-height: 1.1;
    text-align: center;
    color: purple;
}
.title .line {
    display: block;
}
.text-1,
.text-2 {
    font-size: 2rem;
    text-align: center;
    margin: 15px 0;
}
.left-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}
.btn {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    margin: 30px auto;
    padding:18px;
    background: linear-gradient(135deg, #a100ff, #e100ff);
    color: #fff;
    border-radius: 999px;
    font-size: 1.5rem;
}
.btn i {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description .btn-2 i{
    transform: rotate(-90deg);
}
.image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    width: 100%;
    height: auto;
}
.description p {
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: justify;
    margin: 10px 0;
}
.description .fa-arrow-down {
    transform: rotate(-90deg);
    background: #a100ff;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}
@media (max-width:1200px) {
    .title {
        font-size: 3.5rem;
    }
    .text-1,
    .text-2 {
        font-size: 1.6rem;
    }
    .left-content h1 {
        font-size: 3rem;
    }
    .btn {
        font-size: 1.5rem;
        padding: 12px 20px;
    }
}
@media (max-width: 900px) {
    .home,
    .registerPage {
        flex-direction: column;
        text-align: center;
    }
    .home-content,
    .left-content {
        padding: 40px 20px;
    }
    .title {
        font-size: 3rem;
    }
    .text-1,
    .text-2 {
        font-size: 1.4rem;
    }
    .left-content h1 {
        font-size: 2.5rem;
    }
    .btn {
        font-size: 1.2rem;
        padding: 12px 20px;
    }
}
@media (max-width:750px){
    nav {
        padding: 6px 30px;
        background: aliceblue;
    }
    nav img{
        height: 70px;
        width: 70px;
    }
    nav figcaption {
        margin-left: 8px;
        font-size: 1rem;
    }   
}
@media (max-width:450px){
    nav {
        padding: 3px 20px;
        background: aliceblue;
    }
    nav img{
        height: 50px;
        width: 50px;
    }
    nav figcaption {
        margin-left: 6px;
        font-size: 0.6rem;
    }   
    nav .fa-bars{
        font-size: 1rem;
    }
}
