.container{
    display: flex;
    justify-content: center;
    margin: 0%;
    font-family: sans-serif;
}

.left{
    padding: 10px;
    background-color: #e99d99;
    width:370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head{
     color: white;
}

.image{
    height: 800px;
    width: 550px;
}

.left h2{
        background: linear-gradient(to bottom,white,#fcc4fc);
        height:70px;
        width:360px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin: 5px;
        padding-left: 10px;
}

.block1{
        background: linear-gradient(to bottom,white,#fcc4fc);
        padding: 8px;
        width:347px;
        border-radius: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.block1 h2{
    padding: 0px;
    margin: 0%;
    border-radius: 0%;
    max-width: 340px;
}

.block1 div{
    font-size:large ;
}

.imagepic{
    width: 60px;
    height: 60px;
    padding-right: 15px;
}

